.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin-bottom: 200px;
}

.imageContainer {
  /* flex: 1; */
  width: 50%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.textContainer {
  flex: 1;
  /* padding: 0 50px 50px; */
  /* margin-bottom: 50px; */
}

.heading {
  font-family: "Poppins", Sans-serif;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.1em;
  color: #fff;
  margin-bottom: 30px;
}

.text {
  color: #fff;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 19px;
  line-height: 1.3em;
  margin-block: 0 0;
}

.link {
  display: flex;
  color: #fff;
  font-family: "Roboto Mono", Sans-serif;
  font-size: 19px;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.list {
  margin-top: 40px;
}

@media only screen and (max-width: 1440px) {
  .imageContainer {
    width: 40%;
    height: auto;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1280px) {
  .contactContainer {
    width: 90%;
    height: auto;
  }

  .imageContainer {
    width: 50%;
    height: auto;
    padding-right: 30px;
  }

  .textContainer {
    height: auto;
    margin-bottom: 0px;
  }

  .heading {
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 769px) {
  .contactContainer {
    flex-direction: column;
    height: auto;
    /* padding: 50px; */
  }

  .imageContainer {
    width: 60%;
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .textContainer {
    width: 100%;
    padding: 0;
  }

  .heading {
    font-size: 36px;
    text-align: center;
    /* margin-bottom: 20px; */
  }

  .text {
    font-size: 16px;
    text-align: center;
  }

  .link {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .list {
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
  }
}

@media only screen and (max-width: 426px) {
  .contactContainer {
    flex-direction: column;
    height: auto;
    /* padding: 50px; */
  }

  .imageContainer {
    width: 70%;
    height: auto;
    margin-bottom: 30px;
  }

  .textContainer {
    width: 100%;
    padding: 0;
  }

  .heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
    text-align: center;
  }

  .link {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .list {
    flex-direction: column;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 376px) {
  .contactContainer {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 20px 50px;
  }

  .imageContainer {
    width: 80%;
    height: auto;
    padding-right: 0px;
  }

  .image {
    width: 100%;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding: 0; */
  }

  .heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
  }

  .text {
    font-size: 14px;
    text-align: center;
    width: 300px;
  }

  .link {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .list {
    flex-direction: column;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 321px) {
  .contactContainer {
    flex-direction: column;
    height: auto;
  }

  .text {
    font-size: 14px;
    text-align: center;
  }
}
