.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  margin-bottom: 200px;
}

.heading {
  font-size: 156px;
  text-align: center;
  margin-bottom: 0.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}

.secondaryHeading {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 28px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1px;
}
.socialMedia {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.socialLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}

.socialLink i {
  font-size: 1rem;
}

@media only screen and (max-width: 420px) {
  .main {
    width: 100%;
    margin-bottom: 100px;
  }

  .heading {
    font-size: 72px;
  }

  .secondaryHeading {
    font-size: 20px;
  }

  .socialMedia {
    width: 8rem;
  }

  .socialLink {
    width: 1.5rem;
    height: 1.5rem;
  }

  .socialLink i {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  .main {
    width: 100%;
    margin-bottom: 100px;
  }

  .heading {
    font-size: 48px;
  }

  .secondaryHeading {
    font-size: 16px;
  }

  .socialMedia {
    width: 6rem;
  }

  .socialLink {
    width: 1rem;
    height: 1rem;
  }

  .socialLink i {
    font-size: 0.6rem;
  }
}
